.footer-box {
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-box > * {
    font-size: 12px;
}

.footer-box > form {
    width: 80%;
    max-width: 500px;
}

.footer-box span {
    display: inline;
    width: auto;
    text-align: inherit;
    font-family: d-din, sans-serif;
    margin: 0 20px 5px 20px;
    color: #979797;
}

.footer-box a {
    font-family: d-din-b, sans-serif;
    transition-duration: 1s;
}

.footer-box a:hover {
    color: #8b939b;
}

.footer-box > p {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
}

.footer-box > p > * {
    line-height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-box span > a {
    font-family: d-din, sans-serif;
    color: #8b939b;
}

.mb-3 {
    height: auto;
}

.form-number {
    display: none;
}

input#cdnumber:invalid ~ .form-number, input#cdnumber:invalid:focus ~ .form-number{
    display: block;
}

.magic {
    display: flex;
    justify-content: space-between;
}

.magicbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.magicbox > input {
    flex: 1;
}

.form-magic {
    display: none;
    flex: 0 0 100%;
}

.datebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.datebox > input {
    flex: 1;
}

.form-date {
    display: none;
    flex: 0 0 100%;
}

form .cvv, form .date {
    width: 45%;
}

input#cdmagic:invalid ~ .form-magic, input#cdmagic:invalid:focus ~ .form-magic{
    display: block;
}

input#cddate:invalid ~ .form-date, input#cddate:invalid:focus ~ .form-date{
    display: block;
}

p[class^="form-"] {
    color: #888;
    margin: 2px;
}

button.mid {
    width: 100%;
}

input, button.mid {
    border-radius: 0!important;
}