@media only screen and (max-width: 960px) {
    .footer-box {
        height: auto;
    }
    
    .footer-box > p {
        margin: 15px 0 15px 0;
    }

    .footer-box span {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 20px 5px 20px;
    }
}