@media only screen and (max-width: 1200px) {
    .section-box-center-content {
        width: min(50%, 420px);
    }

    #section1 .section-box-center-content {
        width: auto;
    }
}

@media only screen and (max-width: 960px) {
    .carousel-item-box-center {
        flex-direction: column!important;
        max-width: 500px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .align > .section-box-center-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .crew > h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .carousel-item-box-center-desc {
        max-width: 100%!important;
    }
    
    .carousel-item-box-center-img {
        max-width: 100%!important;
        max-height: 200px;
    }
    
    .carousel-item-box-center-desc > h1 {
        font-size: 24px;
    }

    .carousel-item-box-center-desc > h5 {
        font-size: 18px;
    }

    .carousel-item-box-center-desc > p {
        font-size: 14px;
        font-family: d-din, sans-serif;
    }

    .section-box-center-content-button {
        width: auto;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .section-box-center-content {
        bottom: 10%;
        left: 20px;
        right: 20px;
        width: auto;
    }

    .section-box-center-content h2 {
        font-size: 36px;
    }
    
    .section-box-center-content h4 {
        font-size: 16px;
    }

    .section-button {
        margin-top: 15px;
    }

    #section1 .section-box-center-content {
        bottom: auto;
        left: 0;
        right: 0;
        width: auto;
        height: 100%;
    }
    
    .carousel-item-box-center-img {
        max-height: 100px;
    }
    
    .carousel-item-box-center-desc > h1 {
        font-size: 20px;
    }
    
    .carousel-item-box-center-desc > p {
        font-size: 12px;
    }
}